<%- include('partials/header') %>
<%- include('partials/navs/indexnav') %>
<h1>SINGLE APPOINTMENT</h1>
<p>Appointment id: <%=appointment._id%></p>
<p>Appointment name: <%=appointment.name%></p>
<p>Requested service: <%=appointment.service%></p>
<p>Hours Requested: <%=appointment.hours%></p>
<p>Given Email: <%=appointment.email%></p>

<button type="button" class="btn btn-primary">Edit</button>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
Delete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this appointment?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          
          <!--Delete Action-->
          <form action="/appointments/view/<%= appointment._id %>?_method=DELETE" method="POST">
            <button type="button submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<p>Currently Inactive</p>
<p>Confirm appointment:</p>

<form action="/appointments/confirmed" method="POST">
  <input type="text" name="title" placeholder="name" autofocus required>
  <small id="passwordHelpInline" class="text-muted">
      Enter the confirmed name.
    </small>
  <input type="datetime-local" name="start" placeholder="start-time" autofocus required>
  <small id="passwordHelpInline" class="text-muted">
      Enter a start time.
    </small>
  <input type="datetime-local" name="end" placeholder="end-time" autofocus required>
  <small id="passwordHelpInline" class="text-muted">
      Enter an end time.
    </small>
  
  <button type="button submit" class="btn btn-success">Confirm</button>
  </form>


<%- include('partials/footer') %>