<%- include('partials/header') %>
<%- include('partials/navs/aboutusnav') %>
<h1 class="jumbotron text-center">Current Schedule</h1>
  <h4 class="text-center">Edit Event</h4>
  <p>Event is scheduled to begin at <%=data.start.toISOString().split("Z")%></p>
  <p>Event is scheduled tp end at<%=data.end.toISOString().split("Z")%></p>
  

  <div class="form-group form-container">
    <form action="/appointments/confirmed/<%=data._id%>?_method=PUT" method="POST">
      <input type="text" class="form-control" name="title" value="<%=data.title%>" autofocus>
      <small id="passwordHelpInline" class="text-muted">
          Enter the confirmed name.
        </small>

      <input type="datetime-local"   class="form-control" name="start" value="<%=data.start.toISOString()%>"  autofocus>
      <small id="passwordHelpInline" class="text-muted">
          Enter a start time.
        </small>

      <input type="datetime-local" class="form-control" name="end" value="<%=data.end%>"  autofocus>
      <small id="passwordHelpInline" class="text-muted">
          Enter an end time.
        </small>
      
      <button type="button submit" class="btn btn-primary form-control">Update</button>
      <small id="passwordHelpInline" class="text-muted">
        Update event.
      </small>
      </form>
    </div>
    
<%- include('partials/footer') %>