<%- include('partials/header') %>
<%- include('partials/navs/aboutusnav') %>
<%- include('partials/footer') %>

<!--Used to trim off unwanted data from the JSON response-->
<% data.forEach((a) => delete a.__v) %>

<h1 class="jumbotron text-center">Schedule Options</h1>

<% data.forEach((data) => { %>
  <div class="appointment-container">
  <div class="appointment card">
      <!-- data separated -->
      <div class="card-header">
     <p class="ap-name">Event Title: <%=data.title%></p>
     <a class="ap-edit" href="/appointments/confirmed/<%= data._id %>">
      <p class="ap-edit">Details</p>
      </a>
      </div>
      <div class="card-body">
      <p class="ap-email">Start: <%=data.start %></p>
      <p class="ap-email">End: <%=data.end %></p>
  </div>
  </div>
</div>
<% }) %>