<%- include('partials/header') %>
<%- include('partials/navs/schedule&bookingnav') %>

 <link href="/fullcalendar/main.css" rel="stylesheet" />
<script src="/fullcalendar/main.js"></script>

<script>

document.addEventListener('DOMContentLoaded', function() {
  
  const wamt = '<%= data[4].date %>'
  
  const wamm = '<%-JSON.stringify(data[4].name)%>'

  const wamn = '<%-JSON.stringify(data[3].name)%>'

  const wamo = '<%-JSON.stringify(data[2].name)%>'


    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      initialDate: Date.now(),
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      timeZone: 'EST',
      events: [
        {
          title: wamm,
          start: wamt
        },
        {
          title: wamn,
          start: '2022-03-07',
          end: '2022-03-10'
        },
        {
          title: wamo,
          start: '2022-03-28'
        }
      ],
      timeFormat: 'H(:mm)' // uppercase H for 24-hour clock
    });

    calendar.render();
  });
</script>

<div id="calendar"></div>


<%- include('partials/footer') %>